<div class="container">
    <div class="form-group pull-left">
        <input type="text" class="form-control" name="search" value="" placeholder="Location or Restaurant">
    </div>
    <button type="submit" class="btn btn-danger">Find a Table</button>
    <restaurant-component ng-if="$ctrl.showBooking()" rest=$ctrl.restaurant></restaurant-component>
    <ul uib-pagination total-items="$ctrl.totalPage" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize" class="pagination-sm"
        boundary-link-numbers="true" ng-if="$ctrl.totalPage" ng-change="$ctrl.pageChanged()"></ul>
</div>