.alert ul li {
  display: inline-block;
  margin-right: 50px;
}
.booking-block .success {
  margin-top: 10%;
  /* background-color: green; */
}
.booking-block .success .alert {
  background-color: #dff0d8;
  border-color: #dff0d8;
  color: #3c763d;
}
.text-input {
  margin-bottom: 10px;
  min-width: 172px;
}
