<div class="container">
    <div class="booking-block row">
        <div class="col-xs-12" ng-class="{'success':!$ctrl.isSuccess}">
            <div class="alert alert-info">
                <h2 ng-if="!$ctrl.isSuccess">Success ! Table reserved.</h2>
                <ul ng-if="$ctrl.isSuccess">
                    <li>
                        <h2>Guest</h2>
                        <h4>{{$ctrl.param.people}}</h4>
                    </li>
                    <li>
                        <h2>Time</h2>
                        <h4>{{$ctrl.param.slot}}</h4>
                    </li>
                    <li>
                        <h2>Date</h2>
                        <h4>{{$ctrl.param.date}}</h4>
                    </li>
                    <li>
                        <h2>Restaurant</h2>
                        <h4>{{$ctrl.param.name}}</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12" ng-if="$ctrl.isSuccess">
            <form class="form-inline" autocomplete="on" name="myForm">
                <div class="form-group">
                    <div class="input-group text-input">
                        <input type="text" class="form-control" placeholder="Name" ng-model="$ctrl.name" autofocus required>
                    </div>
                    <div class="input-group text-input">
                        <input type="Email" class="form-control" placeholder="Email" ng-model="$ctrl.email" required>
                    </div>
                    <div class="input-group text-input">
                        <input type="number" class="form-control" placeholder="Contact Number" ng-model="$ctrl.phone" pattern="[0-9]{10,10}$" required>
                    </div>
                    <input type="submit" value="Complete Reservation" class="btn btn-danger text-input" ng-disabled="!myForm.$valid" ng-click="$ctrl.completeReserve()">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- end of booking-block -->